# Pandas Tutorial

In [1]:
# Importing Pandas Module
import pandas as pd

In [8]:
# creating dataframe using .csv files
df = pd.read_csv("Demo.csv")
df

          Day  Temp  Windspeed  Event
0  01-01-2017    32          6   Rain
1  01-02-2017    35          7  Sunny
2  01-03-2017    28          2   Snow
3  01-04-2017    22          4   Rain

In [13]:
# creating datafram using .xlsx files
df = pd.read_excel("Demo.xlsx","Sheet1")
df

         Day  Temp  Windspeed  Event
0 2017-01-01    32          6   Rain
1 2017-02-01    35          7  Sunny
2 2017-03-01    28          2   Snow
3 2017-04-01    22          4   Rain

In [15]:
# dictionary
weather_data = {
    'Day' : ['01-01-2017','01-02-2017','01-03-2017','01-04-2017'],
    'Temp': [32, 35, 28, 22],
    'Windspeed' : [6, 7, 2, 4],
    'Event' : ['Rain','Sunny','Snow','Rain']
}
# creating dataframe using dictionaries
ddf = pd.DataFrame(weather_data)
ddf

          Day  Temp  Windspeed  Event
0  01-01-2017    32          6   Rain
1  01-02-2017    35          7  Sunny
2  01-03-2017    28          2   Snow
3  01-04-2017    22          4   Rain

In [19]:
# Tuple
weather_data = [
    ('01-01-2017', 32, 6, 'Rain'),
    ('01-02-2017', 35, 7, 'Sunny'),
    ('01-03-2017', 28, 2, 'Snow'),
    ('01-04-2017', 22, 4, 'Rain')
]
# dataframe from list of tuples
tf = pd.DataFrame(weather_data, columns=['Days','Temp','Windspeed','Event'])
tf

         Days  Temp  Windspeed  Event
0  01-01-2017    32          6   Rain
1  01-02-2017    35          7  Sunny
2  01-03-2017    28          2   Snow
3  01-04-2017    22          4   Rain